test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
**/.svelte-kit
**/build
**/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.devenv
.pre-commit-config.yaml

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Storybook
*storybook.log
storybook-static

# Colyseus
.colyseus-cloud.json
.devmode.json
.devenv

# Nix VM artifacts
infrastructure/nix/result
infrastructure/nix/*.qcow2
